<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Booking</title>
<link href="/public/css.css" rel="stylesheet" type="text/css">
</head>

<body style="background-color: #E1DFC6">
	<div class="bookingPage">
			<div class="row1">
				<div class="col-12">
					<h1 style="text-align: center; font-size: 50pt; color: saddlebrown">The Cocoa Inn</h1>
				</div>
				<div class="col-12">
					<div class="col-2">
						<form method="get" action="index.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Home</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="Reservation.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Reserve</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="dine.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Dine</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="spa.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Spa</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="winery.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Winery</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="contact.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Contact Us</button>
						</form>
					</div>				
				</div>
			</div>
		
			<div class="row2">
				<div class="col-12">
					<div class="col-4"></div>
					<div class="col-4" style="background-color: ivory">
						<form method="post" action="reservationDetails.html">
							<input name="confirmationNumber" class="confirmationNumber" type="text" placeholder="Reservation Confirmation Number" style="width:75%; padding: 12px 20px; text-align: center">
							<button type="submit" style="padding: 12px 20px; background-color: wheat; width:24%">Search</button>
						</form>					
					</div>
					<div class="col-4"></div>
				</div>
			</div>
		
		<div class="col-12">
			<h1 style="font-size: 40pt; text-align: center">Your Rooms</h1>
			<% for(var x = 0; x < numRooms; x++){ %>
				<% if (x % 2 == 0){ %>
					<div class="col-12" style="background-color: ivory">
				<% } else{ %>
						<div class="col-12" style="background-color: #E8E5D6">
				<% } %>
					<div class="col-6" style="text-align: center">
						<br>
						<br>
						<h1 style="font-size: 40pt"><%= roomNames[x] %></h1>
						<p style="font-size: 30pt">Beds: <%= numBeds[x] %></p>
						<p style="font-size: 30pt">Occupancy: <%= occupancies[x] %></p>
						<p style="font-size: 20pt"><%= descriptions[x] %></p>
					</div>
					<div class="col-6">
						<img src="<%= images[x] %>" style="width: 100%; height: 100%; margin-left: auto; margin-right: auto; display: block">
					</div>					
				</div>
			<% } %>			
		</div>
		
		<div class="row3">
			<div class="col-4" style="background-color: ivory">
				<h2 style="text-align: center; font-size: 30pt">Your Stay</h2>
				<br>
				<h3 style="text-align: center; font-size: 25pt">Check In: <%= checkIn %></h3>
				<br>
				<h3 style="text-align: center; font-size: 25pt">Check Out: <%= checkOut %></h3>
				<br>
				<h3 style="text-align: center; font-size: 25pt">Rooms: <%= numRooms %></h3>
				<br>
				<h3 style="text-align: center; font-size: 25pt">Adults: <%= numAdults %></h3>
				<br>
				<h3 style="text-align: center; font-size: 25pt">Children: <%= numChildren %></h3>
				<br>
				<h3 style="text-align: center; font-size: 25pt">Total: $<%= price %></h3>
			</div>
			
			<div class="col-8">
				<form action="confirmation.html" method="post">
					<p style="text-align: center; font-size: 30pt">Booking Form</p>
					<input name="firstName" class="firstName" type="text" placeholder="First Name" style="width: 100%; padding: 12px 20px; text-align: center" autocomplete="on" required>
					<br>
					<br>
					<input name="lastName" class="lastName" type="text" placeholder="Last Name" style="width: 100%; padding: 12px 20px; text-align: center" autocomplete="on" required>
					<br>
					<br>
					<input name="email" class="email" type="email" placeholder="Email" style="width: 100%; padding: 12px 20px; text-align: center" autocomplete="on" required>
					<br>
					<br>
					<input name="phone" class="phone" type="tel" placeholder="Phone" style="width: 100%; padding: 12px 20px; text-align: center" autocomplete="on" required>
					<br>
					<br>
					<p style="text-align: center; font-size: 30pt">Payment</p>
					<input name="ccNum" class="ccNum" type="text" placeholder="CC Number" style="width: 100%; padding: 12px 20px; text-align: center" autocomplete="on">
					<br>
					<br>
					<input name="ccv" class="ccv" type="text" placeholder="CCV" style="width: 33%; padding: 12px 20px; text-align: center" autocomplete="on">
					<input name="ccMonth" class="ccMonth" type="number" placeholder="Exp. Month" style="width: 33%; padding: 12px 20px; text-align: center" autocomplete="on" min="1" max="12">
					<input name="ccYear" class="ccYear" type="number" placeholder="Exp. Year" style="width: 33%; padding: 12px 20px; text-align: center" autocomplete="on" min="2021" max="2026">
					<br>
					<br>
					<p style="text-align: center; font-size: 15pt">Guests are required to show a photo identification and the credit card used for payment upon check-in. You may cancel free of charge until 48 hours before check-in. You will be charged 100 percent of the first night if you cancel within 48 hours of check-in. Pets are not allowed. Smoking is not allowed.</p>
					<br>
					<br>
					<input name="checkIn" class="checkIn" type="hidden" value="<%= checkIn %>">
					<input name="checkOut" class="checkOut" type="hidden" value="<%= checkOut %>">
					<input name="numAdults" class="numAdults" type="hidden" value="<%= numAdults %>">
					<input name="numChildren" class="numChildren" type="hidden" value="<%= numChildren %>">
					<input name="price" class="price" type="hidden" value="<%= price %>">
					<% for (var x = 0; x < numRooms; x++){ %>
						<input name="<%= x %>" class="<%= x %>" type="hidden" value="<%= roomNums[x] %>">
					<% } %>
					<div class="col-12">
						<div class="col-3">
						</div>
						<div class="col-6">
							<button class="bookButton" type="submit" style="width: 100%; padding: 16px 32px; background-color: wheat; cursor: pointer">Book Reservation</button>
						</div>
						<div class="col-3">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
