<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
		<title>Cocoa Inn</title>
		<link href="/public/css.css" rel="stylesheet" type="text/css">
	</head>

	<body style="background-color: black">
		<div class="removeRoomConfirmationPage">
			<div class="row1" style="color: beige">
				<div class="col-2"><a href="index.html" style="font-size: 35pt; color: beige">Home</a></div>
				<div class="col-2"><a href="Reservation.html" style="font-size: 35pt; color: beige">Reserve</a></div>
				<div class="col-2"><h1 style="text-align: center">Dine</h1></div>
				<div class="col-2"><h1 style="text-align: center">Spa</h1></div>
				<div class="col-2"><h1 style="text-align: center">Golf</h1></div>
				<div class="col-2"><h1 style="text-align: center">Contact</h1></div>
			</div>
			
			<div class="row2">
				<div class="col-12">
					<div class="col-4">
						<div class="col-4"></div>
						<div class="col-4">
							<form method="post" action="reservationDetails.html">
								<input name="confirmationNumber" class="confirmationNumber" type="hidden" value="<%= reservation.confirmationNumber %>">
								<button type="submit" style="width:100%; padding:16px">Back</button>
							</form>
						</div>
						<div class="col-4"></div>
					</div>
					<div class="col-4">
						<div class="col-4"></div>
						<div class="col-4">
							<form method="post" action="addRoom.html">
								<input name="confirmationNumber" class="confirmationNumber" type="hidden" value="<%= reservation.confirmationNumber %>">
								<input name="checkIn" class="checkIn" type="hidden" value="<%= reservation.checkIn %>">
								<input name="checkOut" class="checkOut" type="hidden" value="<%= reservation.checkOut %>">
								<button type="submit" style="width:100%; padding:16px">Add Room</button>
							</form>
						</div>
						<div class="col-4"></div>
					</div>
					<div class="col-4">
						<div class="col-4"></div>
						<div class="col-4">
							<form method="post" action="removeRoom.html">
								<input name="confirmationNumber" class="confirmationNumber" type="hidden" value="<%= reservation.confirmationNumber %>">
								<button type="submit" style="width:100%; padding:16px">Remove Room</button>
							</form>
						</div>
						<div class="col-4"></div>
					</div>
				</div>
			</div>
			
			<div class="row3">
				<div class="col-12">
					<div class="col-3" style="color: honeydew">
						<h2 style="text-align: center; font-size: 30pt">Your Stay</h2>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Check In: <%= reservation.checkIn %></h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Check Out: <%= reservation.checkOut %></h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Adults: <%= reservation.adults %></h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Children: <%= reservation.children %></h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Balance: $<%= reservation.price %></h3>
					</div>
					
					<div class="col-9" style="color: honeydew">
						<h2 style="text-align: center; font-size:30pt">You will be refunded $<%= priceChange %>.</h2>
						<br>
						<br>
						<h2 style="text-align: center; font-size:30pt">Continue with removing the room?</h2>
						<div class="col-12">
							<div class="col-4">
								<form method="post" action="reservationDetails.html">
									<input type="hidden" name="confirmationNumber" class="confirmationNumber" value="<%= reservation.confirmationNumber %>">
									<button type="submit" style="background-color: #AFA5A5; width:100%; padding: 16px 32px; text-align: center; font-size: 15pt">Back</button>
								</form>							
							</div>
							<div class="col-4"></div>
							<div class="col-4">
								<form method="post" action="confirmRemoveRoom.html">
									<input name="confirmationNumber" class="confirmationNumber" type="hidden" value="<%= reservation.confirmationNumber %>">
									<input name="checkIn" class="checkIn" type="hidden" value="<%= reservation.checkIn %>">
									<input name="checkOut" class="checkOut" type="hidden" value="<%= reservation.checkOut %>">
									<input name="numRooms" class="numRooms" type="hidden" value="<%= reservation.numRooms %>">
									<input name="roomNum" class="roomNum" type="hidden" value="<%= roomNum %>">
									<input name="priceChange" class="priceChange" type="hidden" value="<%= priceChange %>">
									<input name="price" class="price" type="hidden" value="<%= reservation.price %>">
									<button type="submit" style="background-color: wheat; width:100%; padding: 16px 32px; text-align: center; font-size: 15pt">Remove Room</button>
								</form>							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>