<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
		<title>Cocoa Inn</title>
		<link href="/public/css.css" rel="stylesheet" type="text/css">
	</head>

	<body style="background-color: #E8E5D6">
		<div class="removeGuestPage">
			<div class="row1">
				<div class="col-12">
					<h1 style="text-align: center; font-size: 50pt; color: saddlebrown">The Cocoa Inn</h1>
				</div>
				<div class="col-12">
					<div class="col-2">
						<form method="get" action="index.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Home</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="Reservation.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Reserve</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="dine.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Dine</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="spa.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Spa</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="winery.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Winery</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="contact.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Contact Us</button>
						</form>
					</div>				
				</div>
			</div>
			
			<div class="row2">
				<div class="col-12">
					<div class="col-4">
						<div class="col-4"></div>
						<div class="col-4">
							<form method="post" action="reservationDetails.html">
								<input name="confirmationNumber" class="confirmationNumber" type="hidden" value="<%= reservation.confirmationNumber %>">
								<button type="submit" style="width:100%; padding:16px; background-color: wheat">Back</button>
							</form>
						</div>
						<div class="col-4"></div>
					</div>
					<div class="col-4">
						<div class="col-4"></div>
						<div class="col-4">
							<form method="post" action="addGuest.html">
								<input name="confirmationNumber" class="confirmationNumber" type="hidden" value="<%= reservation.confirmationNumber %>">
								<button type="submit" style="width:100%; padding:16px; background-color: wheat">Add Guest</button>
							</form>
						</div>
						<div class="col-4"></div>
					</div>
					<div class="col-4">
						<div class="col-4"></div>
						<div class="col-4">
							<form method="post" action="removeGuest.html">
								<input name="confirmationNumber" class="confirmationNumber" type="hidden" value="<%= reservation.confirmationNumber %>">
								<button type="submit" style="width:100%; padding:16px; background-color: wheat">Remove Guest</button>
							</form>
						</div>
						<div class="col-4"></div>
					</div>
				</div>
			</div>
			
			<div class="row3">
				<div class="col-12">
					<div class="col-3" style="background-color: ivory">
						<h2 style="text-align: center; font-size: 30pt">Your Stay</h2>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Check In: <%= reservation.checkIn %></h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Check Out: <%= reservation.checkOut %></h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Adults: <%= reservation.adults %></h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Children: <%= reservation.children %></h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Balance: $<%= reservation.price %></h3>
					</div>
					<div class="col-9">
						<div class="col-12">
							<p style="text-align: center; font-size: 15pt">Specify an amount of adults and/or children to remove from your reservation.</p>
							<p style="text-align: center; font-size: 15pt">You must have at least one adult on the reservation.</p>
						</div>
						<div class="col-12">
							<form method="post" action="removeGuestRequested.html">
								<div class="col-4"></div>
								<div class="col-4">
									<input name="adults" class="adults" type="number" placeholder="Adults" min="0" max="<%= reservation.adults-1 %>" style="text-align: center; width: 100%; padding: 14px" required>
									<br>
									<br>
									<input name="children" class="children" type="number" placeholder="Children" min="0" max="<%= reservation.children %>" style="text-align: center; width: 100%; padding: 14px" required>
									<br>
									<br>
									<div class="col-2"></div>
									<div class="col-8">
										<input type="hidden" name="confirmationNumber" class="confirmationNumber" value="<%= reservation.confirmationNumber %>">
										<button type="submit" style="width:100%; padding: 14px">Remove Guests</button>
									</div>
									<div class="col-2"></div>
								</div>
								<div class="col-4"></div>							
							</form>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>