<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
		<title>Cocoa Inn</title>
		<link href="/public/css.css" rel="stylesheet" type="text/css">
	</head>

	<body style="background-color: #E1DFC6">
		<div class="invoicePage">
			<div class="row1">
				<div class="col-2">
					<p style="text-align: center"><b>Employee: <%= userID %></b></p>
				  <div class="col-3"></div>
				  <div class="col-6">
						<form method="post" action="staffHome.html">
							<input type="hidden" name="userID" class="userID" value="<%= userID %>">
							<button type="submit" style="width:100%; text-align: center; padding: 10px">Home</button>
						</form>
					</div>
				  <div class="col-3"></div>
				</div>
				<div class="col-8">
					<h1 style="text-align: center; font-size: 50pt; color: saddlebrown">The Cocoa Inn</h1>
				</div>
				<div class="col-2">
					<div class="col-3"></div>
					<div class="col-6">
						<form method="get" action="logout.html">
							<button type="submit" style="width: 100%; padding: 10px">Logout</button>
						</form>
					</div>
					<div class="col-3"></div>
				</div>
			</div>
			
			<div class="row2">
				<div class="col-12">
					<div class="col-1">
						<form method="post" action="staffModifyReservation.html">
							<input type="hidden" name="confirmationNumber" class="confirmationNumber" value="<%= confirmationNumber %>">
							<input type="hidden" name="userID" class="userID" value="<%= userID %>">
							<button type="submit" style="width:100%; padding: 10px">Back</button>
						</form>
					</div>
				</div>
			</div>
			
			<div class="row3">
				<div class="col-12">
					<h1 style="text-align: center; font-size: 40pt">Invoice</h1>
				</div>
				
				<% for (let x = 0; x < invoice.length; x++) { %>
					<% if (x % 2 == 0) { %>
						<div class="col-12" style="font-size: 20pt; background-color: ivory">
					<% } else { %>
						<div class="col-12" style="font-size: 20pt; background-color: #E8E5D6">	
					<% } %>
						<div class="col-2"></div>
						<div class="col-8">
							<div class="col-4">
								<p style="text-align: center"><%= invoice[x].date %></p>
							</div>
							<div class="col-4">
								<p style="text-align: center"><%= invoice[x].item %></p>
							</div>
							<div class="col-4">
								<% if (invoice[x].amount > 0) { %>
									<p style="text-align: center">$<%= invoice[x].amount %></p>
								<% } else { %>
									<p style="text-align: center; color: darkgreen">$(<%= -(invoice[x].amount) %>)</p>
								<% } %>
							</div>
						</div>
						<div class="col-2"></div>
					</div>
				<% } %>
				
				<div class="col-12" style="font-size: 20pt">
					<div class="col-2"></div>
					<div class="col-8">
						<div class="col-4">
							<p style="text-align: center"><b>Balance</b></p>
						</div>
						<div class="col-4"></div>
						<div class="col-4">
							<% if (balance > 0) { %>
								<p style="text-align: center"><b>$<%= balance %></b></p>
							<% } else{ %>
								<p style="text-align: center"><b>$(<%= -(balance) %>)</b></p>
							<% } %>
						</div>
					</div>
					<div class="col-2"></div>
				</div>
			</div>
		</div>
		</div>
	</body>
</html>