<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
		<title>Cocoa Inn</title>
		<link href="/public/css.css" rel="stylesheet" type="text/css">
	</head>

	<body style="background-color: wheat">
		<div class="staffModifyPage">
			<div class="row1">
				<div class="col-2">
					<p style="text-align: center"><b>Employee: <%= userID %></b></p>
				  <div class="col-3"></div>
				  <div class="col-6">
						<form method="post" action="staffHome.html">
							<input type="hidden" name="userID" class="userID" value="<%= userID %>">
							<button type="submit" style="width:100%; text-align: center; padding: 10px">Home</button>
						</form>
					</div>
				  <div class="col-3"></div>
				</div>
				<div class="col-8">
					<h1 style="text-align: center; font-size: 50pt">The Cocoa Inn</h1>
				</div>
				<div class="col-2">
					<div class="col-3"></div>
					<div class="col-6">
						<form method="get" action="logout.html">
							<button type="submit" style="width: 100%; padding: 10px">Logout</button>
						</form>
					</div>
					<div class="col-3"></div>
				</div>
			</div>
			
			<div class="row2">
				<div class="col-12">
					<div class="col-4">
						<div class="col-4"></div>
						<div class="col-4">
							<% if (reservation.bCheckedIn == false) { %>
								<% if (bCanCheckIn) { %>
										<form method="post" action="checkIn.html">
											<input type="hidden" name="userID" class="userID" value="<%= userID %>">
											<input type="hidden" name="confirmationNumber" class="confirmationNumber" value="<%= reservation.confirmationNumber %>">
											<button type="submit" style="width:100%; padding: 16px; background-color: honeydew">Check In</button>
										</form>
								<% } else { %>
									<h3 style="text-align: center; font-size: 17pt">Cannot Check In</h3>
								<% } %>
							<% } else { %>
								<h3 style="text-align: center; font-size: 17pt">Checked In</h3>
							<% } %>
						</div>
						<div class="col-4"></div>
					</div>
					<div class="col-4">
						<form method="post" action="staffModifyReservation.html">
							<input name="confirmationNumber" class="confirmationNumber" type="text" placeholder="Confirmation Number" style="width:75%; padding: 16px 32px; text-align: center">
							<input name="userID" class="userID" type="hidden" value="<%= userID %>">
							<button type="submit" style="width:24%; padding: 10px">Search</button>
						</form>
					</div>
					<div class="col-4">
						<div class="col-4"></div>
						<div class="col-4">
							<% if (reservation.bCheckedIn){ %>
								<form method="post" action="checkOut.html">
									<input type="hidden" name="userID" class="userID" value="<%= userID %>">
									<input type="hidden" name="confirmationNumber" class="confirmationNumber" value="<%= reservation.confirmationNumber %>">
									<button type="submit" style="width:100%; padding: 16px; background-color: honeydew">Check Out</button>
								</form>
							<% } %>
						</div>
						<div class="col-4"></div>
					</div>
				</div>
			</div>
			
			<div name="row3" class="col-12">
				<div class="col-4">
					<div class="col-12">
						<h2 style="text-align: center; font-size: 25pt">Modify</h2>
					</div>
					<div class="col-3"></div>
					<div class="col-6">
						<form method="post" action="modifyDate.html">
							<input type="hidden" name="userID" class="userID" value="<%= userID %>">
							<input type="hidden" name="firstName" class="firstName" value="<%= reservation.firstName %>">
							<input type="hidden" name="lastName" class="lastName" value="<%= reservation.lastName %>">
							<input type="hidden" name="checkIn" class="checkIn" value="<%= reservation.checkIn %>">
							<input type="hidden" name="checkOut" class="checkOut" value="<%= reservation.checkOut %>">
							<input type="hidden" name="adults" class="adults" value="<%= reservation.adults %>">
							<input type="hidden" name="children" class="children" value="<%= reservation.children %>">
							<input type="hidden" name="price" class="price" value="<%= reservation.price %>">
							<input type="hidden" name="confirmationNumber" class="confirmationNumber" value="<%= reservation.confirmationNumber %>">
							<button type="submit" style="width: 100%; background-color: honeydew; padding: 16px 32px">Change Check In/Out</button>
						</form>
						<br>
						<form method="post" action="modifyRoom.html">
							<input name="userID" class="userID" type="hidden" value="<%= userID %>">
							<input name="confirmationNumber" class="confirmationNumber" type="hidden" value="<%= reservation.confirmationNumber %>">
							<button type="submit" style="width: 100%; background-color: honeydew; padding: 16px 32px">Modify Room</button>
						</form>
						<br>
						<form method="post" action="add-removeGuest.html">
							<input type="hidden">
							<button type="submit" style="width: 100%; background-color: honeydew; padding: 16px 32px">Add/Remove Guest</button>
						</form>
						<br>
						<form method="post" action="cancel.html">
							<input type="hidden" name="userID" class="userID" value="<%= userID %>">
							<input type="hidden" name="firstName" class="firstName" value="<%= reservation.firstName %>">
							<input type="hidden" name="lastName" class="lastName" value="<%= reservation.lastName %>">
							<input type="hidden" name="checkIn" class="checkIn" value="<%= reservation.checkIn %>">
							<input type="hidden" name="checkOut" class="checkOut" value="<%= reservation.checkOut %>">
							<input type="hidden" name="adults" class="adults" value="<%= reservation.adults %>">
							<input type="hidden" name="children" class="children" value="<%= reservation.children %>">
							<input type="hidden" name="confirmationNumber" class="confirmationNumber" value="<%= reservation.confirmationNumber %>">
							<button type="submit" style="width: 100%; background-color:#DD8284; padding: 16px 32px">Cancel Reservation</button>
						</form>
					</div>
					<div class="col-3"></div>
					
				</div>
				<div class="col-4">
					<h2 style="text-align: center; font-size: 25pt"><u><%= reservation.firstName %> <%= reservation.lastName %></u></h2>
					<h3 style="text-align: center; font-size: 20pt"><%= reservation.phone %></h3>
					<h3 style="text-align: center; font-size: 20pt"><%= reservation.email %></h3>
					<h3 style="text-align: center; font-size: 20pt">Check In: <%= reservation.checkIn %></h3>
					<h3 style="text-align: center; font-size: 20pt">Check Out: <%= reservation.checkOut %></h3>
					<h3 style="text-align: center; font-size: 20pt">Adults: <%= reservation.adults %></h3>
					<h3 style="text-align: center; font-size: 20pt">Children: <%= reservation.children %></h3>
					<h3 style="text-align: center; font-size: 20pt">Balance: $<%= reservation.price %></h3>
				</div>
				
				<div class="col-4" style="height: 480px; overflow-x: hidden; overflow-y: auto">
						<h2 style="text-align: center; font-size: 25pt" >Guest's Rooms</h2>
						<div class="col-12" style="text-align: center; font-size:15pt">
							<% for (let x = 0; x < rooms.length; x++) { %>
								<div class="col-12">
									<b>
									<p><%= rooms[x].roomName %></p>
									<p>Room Number: <%= rooms[x].roomNum %></p>
									<p>Beds: <%= rooms[x].numBeds %></p>
									<p>Occupancy: <%= rooms[x].maxOccupancy %></p>
									<p>Amenities:</p></b>
								</div>
							<% } %>
						</div>
				</div>
			</div>
			
			<div name="row4" class="col-12">
				<h2 style="text-align: center; font-size: 25pt">Guest Chat</h2>
				<div class="col-12">
					<div class="col-2"></div>
					<div class="col-8" style="height: 280px; overflow-x: hidden; overflow-y: auto">
						<% for (let x = 0; x < reservation.notes.length; x++){ %>
							<p><%= reservation.notes[x] %></p>
						<% } %>
					</div>
					<div class="col-2"></div>
				</div>
				<div class="col-12">
					<div class="col-2"></div>
					<div class="col-8">
						<form method="post" action="sendChat.html">
							<input name="message" class="message" type="text" style="width:100%; padding: 25px">
							<input name="confirmationNumber" class="confirmationNumber" type="hidden" value="<%= reservation.confirmationNumber %>">
							<input name="userID" class="userID" type="hidden" value="<%= userID %>"
							<div class="col-12">
								<div class="col-4"></div>
								<div class="col-4">
									<button type="submit" style="width:100%; padding: 16px; background-color: honeydew">Send</button>
								</div>
								<div class="col-4"></div>
							</div>
						</form>
					</div>
					<div class="col-2"></div>
				</div>
			</div>
		</div>
	</body>
</html>