<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
		<title>Cocoa Inn</title>
		<link href="/public/css.css" rel="stylesheet" type="text/css">
	</head>

	<body style="background-color: wheat">
		<div class="staffModifyRemoveRoomPage">
			<div class="row1">
				<div class="col-2">
					<p style="text-align: center"><b>Employee: <%= userID %></b></p>
				  <div class="col-3"></div>
				  <div class="col-6">
						<form method="post" action="staffHome.html">
							<input type="hidden" name="userID" class="userID" value="<%= userID %>">
							<button type="submit" style="width:100%; text-align: center; padding: 10px">Home</button>
						</form>
					</div>
				  <div class="col-3"></div>
				</div>
				<div class="col-8">
					<h1 style="text-align: center; font-size: 50pt">The Cocoa Inn</h1>
				</div>
				<div class="col-2">
					<div class="col-3"></div>
					<div class="col-6">
						<form method="get" action="logout.html">
							<button type="submit" style="width: 100%; padding: 10px">Logout</button>
						</form>
					</div>
					<div class="col-3"></div>
				</div>
			</div>
			
			<div class="row2">
				<div class="col-12">
					<div class="col-4"></div>
					<div class="col-4">
						<form method="post" action="staffModifyReservation.html">
							<input name="confirmationNumber" class="confirmationNumber" type="text" placeholder="Confirmation Number" style="width:75%; padding: 16px 32px; text-align: center">
							<input type="hidden" name="userID" class="userID" value="<%= userID %>">
							<button type="submit" style="width:24%; padding: 10px">Search</button>
						</form>
					</div>
					<div class="col-4"></div>
				</div>
			</div>		
			
			<div class="row2">
				<div class="col-12">
					<div class="col-4">
						<div class="col-4"></div>
						<div class="col-4">
							<form method="post" action="staffModifyReservation.html">
								<input name="confirmationNumber" class="confirmationNumber" type="hidden" value="<%= reservation.confirmationNumber %>">
								<input name="userID" class="userID" type="hidden" value="<%= userID %>">
								<button type="submit" style="width:100%; padding:16px">Back</button>
							</form>
						</div>
						<div class="col-4"></div>
					</div>
					<div class="col-4">
						<div class="col-4"></div>
						<div class="col-4">
							<form method="post" action="modifyAddRoom.html">
								<input name="confirmationNumber" class="confirmationNumber" type="hidden" value="<%= reservation.confirmationNumber %>">
								<input name="checkIn" class="checkIn" type="hidden" value="<%= reservation.checkIn %>">
								<input name="checkOut" class="checkOut" type="hidden" value="<%= reservation.checkOut %>">
								<input name="userID" class="userID" type="hidden" value="<%= userID %>">
								<button type="submit" style="width:100%; padding:16px">Add Room</button>
							</form>
						</div>
						<div class="col-4"></div>
					</div>
					<div class="col-4">
						<div class="col-4"></div>
						<div class="col-4">
							<form method="post" action="modifyRemoveRoom.html">
								<input name="confirmationNumber" class="confirmationNumber" type="hidden" value="<%= reservation.confirmationNumber %>">
								<input name="userID" class="userID" type="hidden" value="<%= userID %>">
								<button type="submit" style="width:100%; padding:16px">Remove Room</button>
							</form>
						</div>
						<div class="col-4"></div>
					</div>
				</div>
			</div>
			
			<div class="row3">
				<div class="col-12">
					<div class="col-3">
						<h2 style="text-align: center; font-size: 30pt"><%= reservation.firstName %> <%= reservation.lastName %></h2>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Check In: <%= reservation.checkIn %></h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Check Out: <%= reservation.checkOut %></h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Adults: <%= reservation.adults %></h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Children: <%= reservation.children %></h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Balance: $<%= reservation.price %></h3>
					</div>
					<div class="col-9"  style="height: 550px; overflow-x: hidden; overflow-y: auto">
						<% for (let x = 0; x < rooms.length; x++) { %>
							<div class="col-12">
								<div class="col-10">
									<h1 style="text-align: center"><%= rooms[x].roomName %></h1>
									<p style = "text-align:center">Beds: <%= rooms[x].numBeds %><br>Occupancy: <%= rooms[x].maxOccupancy %><br><%= rooms[x].description %></p>
								</div>
								<div class="col-2">
									<div class="col-12">
										<h2 style="text-align: center">$<%= rooms[x].price %></h2>
										<p style="text-align: center">(per night)</p>									
									</div>
									<div class="col-12">
										<form action="modifyRemoveRoomRequested.html" method="post">
												<input name="confirmationNumber" class="confirmationNumber" type="hidden" value="<%= reservation.confirmationNumber %>">
												<input name="userID" class="userID" type="hidden" value=" <%= userID %>">
												<input name="roomNum" class="roomNum" type="hidden" value=" <%= rooms[x].roomNum %>">
												<button class="bookButton" type="submit" style="width:100%; padding:16px">Remove</button>											
										</form>									
									</div>
								</div>
							</div>
						<% } %>
					</div>
				</div>
			</div>	
		</div>
	</body>
</html>