<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
		<title>Cocoa Inn</title>
		<link href="/public/css.css" rel="stylesheet" type="text/css">
	</head>

	<body style="background-color: #E1DFC6">
		<div class="messagesPage">
			<div class="row1">
				<div class="col-2">
					<p style="text-align: center"><b>Employee: <%= userID %></b></p>
				  <div class="col-3"></div>
				  <div class="col-6">
						<form method="post" action="staffHome.html">
							<input type="hidden" name="userID" class="userID" value="<%= userID %>">
							<button type="submit" style="width:100%; text-align: center; padding: 10px">Home</button>
						</form>
					</div>
				  <div class="col-3"></div>
				</div>
				<div class="col-8">
					<h1 style="text-align: center; font-size: 50pt; color: saddlebrown">The Cocoa Inn</h1>
				</div>
				<div class="col-2">
					<div class="col-3"></div>
					<div class="col-6">
						<form method="get" action="logout.html">
							<button type="submit" style="width: 100%; padding: 10px">Logout</button>
						</form>
					</div>
					<div class="col-3"></div>
				</div>
			</div>
			
			<div class="row2">
				<div class="col-12">
					<div class="col-4"></div>
					<div class="col-4">
						<form method="post" action="staffModifyReservation.html">
							<input name="confirmationNumber" class="confirmationNumber" type="text" placeholder="Confirmation Number" style="width:75%; padding: 16px 32px; text-align: center">
							<input type="hidden" name="userID" class="userID" value="<%= userID %>">
							<button type="submit" style="width:24%; padding: 10px">Search</button>
						</form>
					</div>
					<div class="col-4"></div>
				</div>
			</div>
			
			<div class="row3">
				<div class="col-12">
					<h1 style="text-align: center; font-size: 30pt">Messages</h1>
				</div>
			</div>
			
			<div class="row4">
				<div class="col-12" style="height: 650px; overflow-x: hidden; overflow-y: auto">
					<% for (let x = 0; x < notifications.length; x++){ %>
						<% if (x % 2 == 0) { %>
							<div class="col-12" style="background-color: ivory; border: 1px solid black">
						<% } else { %>
							<div class="col-12" style="background-color: #E1DFC6; border: 1px solid black">	
						<% } %>		
							<div class="col-3">
								<h3 style="text-align: center"><%= notifications[x].firstName %> <%= notifications[x].lastName %></h3>
							</div>
							<div class="col-6"><p><%= notifications[x].message %></p></div>
							<div class="col-3">
								<div class="col-4"></div>
								<div class="col-4">
									<form method="post" action="staffModifyReservation.html">
										<input type="hidden" name="userID" class="userID" value="<%= userID %>">
										<input type="hidden" name="confirmationNumber" class="confirmationNumber" value="<%= notifications[x].confirmationNumber %>">
										<button type="submit" style="width: 100%; padding: 16px; background-color: honeydew">View</button>
									</form>
								</div>
								<div class="col-4"></div>
							</div>
						</div>
					<% } %>
				</div>
			</div>
		</div>
	</body>
</html>