<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
		<title>Cocoa Inn</title>
		<link href="/public/css.css" rel="stylesheet" type="text/css">
	</head>

	<body style="background-color: #E1DFC6">
		<div class="checkOutPage">
			<div class="row1">
				<div class="col-2">
					<p style="text-align: center"><b>Employee: <%= userID %></b></p>
				  <div class="col-3"></div>
				  <div class="col-6">
						<form method="post" action="staffHome.html">
							<input type="hidden" name="userID" class="userID" value="<%= userID %>">
							<button type="submit" style="width:100%; text-align: center; padding: 10px">Home</button>
						</form>
					</div>
				  <div class="col-3"></div>
				</div>
				<div class="col-8">
					<h1 style="text-align: center; font-size: 50pt; color: saddlebrown">The Cocoa Inn</h1>
				</div>
				<div class="col-2">
					<div class="col-3"></div>
					<div class="col-6">
						<form method="get" action="logout.html">
							<button type="submit" style="width: 100%; padding: 10px">Logout</button>
						</form>
					</div>
					<div class="col-3"></div>
				</div>
			</div>
			
			<div class="row2">
				<div class="col-12">
					<div class="col-4"></div>
					<div class="col-4">
						<form method="post" action="staffModifyReservation.html">
							<input name="confirmationNumber" class="confirmationNumber" type="text" placeholder="Confirmation Number" style="width:75%; padding: 16px 32px; text-align: center">
							<input name="userID" class="userID" type="hidden" value="<%= userID %>">
							<button type="submit" style="width:24%; padding: 10px">Search</button>
						</form>
					</div>
					<div class="col-4"></div>
				</div>
			</div>
			
			<div class="row3">
				<div class="col-12">
					<div class="col-4" style="background-color: ivory">
						<h2 style="text-align: center; font-size: 30pt"><%= reservation.firstName %> <%= reservation.lastName %></h2>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Check In: <%= reservation.checkIn %></h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Check Out: <%= reservation.checkOut %></h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Rooms: <% for(let x = 0; x < reservation.assignedRoom.length; x++) { %><%= reservation.assignedRoom[x] %>  <% } %> </h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Adults: <%= reservation.adults %></h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Children: <%= reservation.children %></h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Balance: $<%= reservation.price %></h3>
					</div>
					
					<div class="col-8">
						<div class="col-12">
							<form method="post" action="staffModifyReservation.html">
								<input type="hidden" name="userID" class="userID" value="<%= userID %>">
								<input type="hidden" name="confirmationNumber" class="confirmationNumber" value="<%= reservation.confirmationNumber %>">
								<button type="submit" style="background-color: #AFA5A5; width:15%; padding: 16px 32px; text-align: center; font-size: 15pt">Back</button>
							</form>
						</div>
						
						<div class="col-12">
							<h2 style="text-align: center; font-size: 30pt">Check Out List</h2>
						</div>
						<div class="col-3"></div>
						<div class="col-6" style="border: 1px solid red">
							<form method="post" action="confirmCheckOut.html" style="font-size: 15pt">
								<input name="greet" class="greet" type="checkbox">
								<label for="greet">Received keys from guest</label>
								<br>
								<br>
								<input name="identify" class="identify" type="checkbox">
								<label for="identify">Posted any additional payments to guest account</label>
								<br>
								<br>
								<input name="options" class="options" type="checkbox">
								<label for="options">Thanked guest for their stay</label>
								<br>
								<br>
								<div class="col-3"></div>
								<div class="col-6">
								<input type="hidden" name="userID" class="userID" value="<%= userID %>">
								<input type="hidden" name="confirmationNumber" class="confirmationNumber" value="<%= reservation.confirmationNumber %>">
									<button type="submit" style="width: 100%; padding: 16px">Check Out</button>
								</div>
								<div class="col-3"></div>
							</form>
						</div>
						<div class="col-3"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>