<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
		<title>Cocoa Inn</title>
		<link href="/public/css.css" rel="stylesheet" type="text/css">
	</head>

	<body style="background-color: wheat">
		<div class="staffCancelPage">
			<div class="row1">
				<div class="col-2">
					<p style="text-align: center"><b>Employee: <%= userID %></b></p>
				  <div class="col-3"></div>
				  <div class="col-6">
						<form method="post" action="staffHome.html">
							<input type="hidden" name="userID" class="userID" value="<%= userID %>">
							<button type="submit" style="width:100%; text-align: center; padding: 10px">Home</button>
						</form>
					</div>
				  <div class="col-3"></div>
				</div>
				<div class="col-8">
					<h1 style="text-align: center; font-size: 50pt">The Cocoa Inn</h1>
				</div>
				<div class="col-2">
					<div class="col-3"></div>
					<div class="col-6">
						<form method="get" action="logout.html">
							<button type="submit" style="width: 100%; padding: 10px">Logout</button>
						</form>
					</div>
					<div class="col-3"></div>
				</div>
			</div>
			
			<div class="row2">
				<div class="col-12">
					<div class="col-4"></div>
					<div class="col-4">
						<form method="post" action="staffModifyReservation.html">
							<input name="confirmationNumber" class="confirmationNumber" type="text" placeholder="Confirmation Number" style="width:75%; padding: 16px 32px; text-align: center">
							<input type="hidden" name="userID" class="userID" value="<%= userID %>">
							<button type="submit" style="width:24%; padding: 10px">Search</button>
						</form>
					</div>
					<div class="col-4"></div>
				</div>
			</div>
			
			<div class="row3">
				<div class="col-12">
					<div class="col-4">
						<h2 style="text-align: center; font-size: 30pt"><%= reservation.firstName %> <%= reservation.lastName %>'s Stay</h2>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Check In: <%= reservation.checkIn %></h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Check Out: <%= reservation.checkOut %></h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Adults: <%= reservation.adults %></h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Children: <%= reservation.children %></h3>
					</div>
					
				<div class="col-8">
					<h2 style="text-align: center; font-size:30pt">Are you sure you want to cancel the reservation?</h2>
					<br>
					<br>
					<% if (cancelValid) { %>
						<h2 style="text-align: center; font-size:30pt">The guest will receive a full refund in 1-2 business days.</h2>
					<% } else { %>
						<h2 style="text-align: center; font-size:30pt">The guest will be charged a $<%= cancelFee %> cancelation fee.</h2>
					<% } %>
					<div class="col-5">
						<form method="post" action="staffModifyReservation.html">
							<input type="hidden" name="confirmationNumber" class="confirmationNumber" value="<%= reservation.confirmationNumber %>">
							<input type="hidden" name="userID" class="userID" value="<%= userID %>">
							<button type="submit" style="background-color: #AFA5A5; width:100%; padding: 16px 32px; text-align: center; font-size: 15pt">Back</button>
						</form>
					</div>
					<div class="col-2">
					</div>
					<div class="col-5">
						<form method="post" action="cancelRequested.html">
							<input type="hidden" name="confirmationNumber" class="confirmationNumber" value="<%= reservation.confirmationNumber %>">
							<input type="hidden" name="userID" class="userID" value="<%= userID %>">
							<button type="submit" style="background-color:#83181A; width:100%; padding: 16px 32px; text-align: center; font-size: 15pt">Cancel Reservation</button>
						</form>
					</div>
				</div>
				</div>
			</div>
		</div>
	</body>
</html>